
    <div class="footer">
        <div class="parte1">
            <ul>
                <li><a href="#">INSTITUCION</a> </li>
                <li><a href="#">PROGRAMAS</a> </li>
                <li><a href="#">IMAGENES</a> </li>
                <li><a href="#">CAMPAÑAS</a> </li>
                <li><a href="#">INSCRIBIRSE</a> </li>
            </ul>
        </div>
        <div class="parte2">
            <img src="assets/logo.png" class="logo">
        </div>
        <div class="parte3">
            Direccion <br>
            Telefonos<br>
            Email<br>
            @CopyTeamChaquetas<br>
        </div>
        <div class="parte4">
            av. Beltran 150 <br>
            730166666<br>
            Team@Chaquetiada.com <br>
            <img src="assets/iconoFacebook.png" class="icono">
            <img src="assets/iconoWhatsapp.png" class="icono">
        </div>
    </div>
    

