.parte1,
.parte2,
.parte3 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}

.parte4 {
    display: inline-block;
    padding-top: 30px;
    width: 25%;
}

.icono {
    border-radius: 50px;
    width: 50px;
}

.logo {
    border-radius: 50px;
    width: 100px;
    height: 100px;
}

.footer ul{
    list-style: none;
}
.footer a{
    color: #FFFFFF;
    text-decoration: none;
}

.footer {
    display: flex;
    margin-bottom: 0px;
    height: 100%;
    background-color: #040404;
    color: white;
    padding: 45px;
    /* padding-right: 10px;
    padding-left: 10px; */
    line-height: 30px;
}