<nav class="navbar">
    <div class="logo">
        <img src="assets/logo.png" alt="Logo">
    </div>      
    <div class="enlaces">
        <ul>
            <li><a routerLink="index.html">INICIO</a></li>
            <li class="enlaceAbre">
                <a >INSTITUCION</a>
                <div class="enlaceAbre-contenido">
                    <a routerLink="paginaMision.html">¿QUIENES SOMOS?<br>MISION</a>
                    <a routerLink="/directorio">DIRECTORIO</a>
                </div>  
            </li>
            <li class="enlaceAbre">
                <a>AREAS</a>
                <div class="enlaceAbre-contenido">
                    <a routerLink="paginaPsicologia.html">PSICOLOGIA</a>
                    <a routerLink="paginaPsicomotricidad.html">PSICOMOTRICIDAD</a>
                    <a routerLink="paginaMedicina.html">MEDICINA</a>
                    <a routerLink="paginaNutricion.html">NUTRICION</a>
                    <a routerLink="/pagfisio">FISIOTERAPIA</a>
                    <a routerLink="paginaFonoaudiologia.html">FONOAUDIOLOGIA</a>
                </div>  
            </li>
            <li><a routerLink="index.html">IMAGENES</a></li>
            <li><a routerLink="paginaCampañas.html">CAMPAÑAS</a></li>
            <li class="enlaceAbre">
                <a>INSCRIBIRSE</a>
                <div class="enlaceAbre-contenido">
                    <a routerLink="/formulario">RESERVA CITA</a>
                    <a routerLink="hechoenAngular.html">REGISTRO PACIENTES</a>
                    <a routerLink="paginaConsultas.html">CONSULTAS</a>
                </div>  
            </li>
            
        </ul>
    </div>

</nav>