<h1 class="titulo">FISIOTERPIA</h1>
<img src="" alt="">
<div class="infoPrincipal">
    <div class="info1">
        <h2>¿Que hacemos?</h2>
        En nuestro servicio de fisioterapia integral, ofrecemos una atención personalizada y de calidad a los niños con discapacidad, basada en un enfoque biopsicosocial que considera las necesidades y potencialidades de cada niño y su familia. Aplicamos técnicas de fisioterapia específicas para cada tipo de discapacidad
    </div>
    <div class="info2">
        <h2>¿Que deseamos Lograr?</h2>
        mejorar el desarrollo motor, la funcionalidad, la autonomía y la calidad de vida de los niños. Además, brindamos asesoramiento, educación y apoyo a los padres y cuidadores, para que puedan participar activamente en el proceso de rehabilitación y favorecer la integración social de los niños.
    </div>
    <div class="info3">
        <h2>Personal</h2>
        Lic khaterin jimenez
    </div>
</div>
<div class="servicios">
    <div >
        <div>
            <img src="" alt="">
        </div>
        <div>
            <h3>Fisioterapia neurológica</h3>
            ara tratar las secuelas de lesiones o enfermedades que afectan al sistema nervioso central o periférico, como accidentes cerebrovasculares, lesiones cerebrales, esclerosis múltiple, etc.
        </div>
    </div>
    <div >
        <div>
            <img src="" alt="">
        </div>
        <div>
            <h3>Fisioterapia manual</h3>
            para movilizar y manipular articulaciones, músculos y tejidos blandos con el fin de aliviar el dolor, mejorar la movilidad y restaurar la función normal
        </div>
    </div>
    <div >
        <div>
            <img src="" alt="">
        </div>
        <div>
            <h3>Fisioterapia respiratoria</h3>
            prevenir, tratar y estabilizar las disfunciones o alteraciones de la respiración. Está constituida por una serie de técnicas y procedimientos especializados de valoración diagnóstica funcional del sistema respiratorio y por técnicas de intervención terapéutica de desobstrucción de las vías aéreas
        </div>
    </div>
</div>
<div class="horarios">
    Martes y Viernes 10:00 - 13:00   Sabado y Domingo 09:00-13:00
</div>
