<div class="formulario">
    <form >
        <h1 >Datos Personales    </h1>
        <label for="nombre">Nombre</label> <br>
            <input class="entradas" type="text" #nombre >  <br>
        <label for="pterno">Apellido Paterno</label> <br>
            <input class="entradas" type="text" #paterno> <br>
        <label for="materno">Apellido Materno</label> <br>
            <input class="entradas" type="text" #materno> <br>
        <label for="edad">Edad</label> <br>
            <input class="entradas" type="number"#edad> <br>
        <div class="selectFecha">
            <select >
                <option>Dia</option>
                <option *ngFor="let diax of Dias" >{{diax}}</option>
            </select>
            <select >
                <option>Mes</option>
                <option *ngFor="let mesx of Meses">{{mesx}}</option>
            </select>
            <select >
                <option>Año</option>
                <option *ngFor="let aniox of Anios">{{aniox}}</option>
            </select>
        </div>
            <br>
            <select >
                <option>Seleccione el Area</option>
                <option *ngFor="let areax of Areas">{{areax}}</option>
            </select>
            <div class="text-center">
                <button class="btn btn-primary my-3 mx-2" (click)="validar('prubea','del','boton',1,21,'mes','anio','areax')">Enviar Solicitud</button>
                <button class="btn btn-primary my-3 mx-2" (click)="borrar()">Borrar</button>
            </div>
    </form>
</div>

